<div class="body">
    <div class="left">
        <div class='small-btns'>
            <button id="less">font--</button>
            <button style="background-color: rgba(255, 0, 140, .5)" id="changecolor">kolory</button>
            <button id="add">font++</button>
        </div>
        <button id="saveSettings">Zapisz ustawienia</button>
        <button id="renameFile">Zmiana nazwy</button>
        <button id="addfile">Podgląd pliku</button>
    </div>
    <div class="right" style="padding: 0;">
        <div class="editor-top">
            <p style='color: white; line-height: 36px;'>{{path}}</p>
            <button style="width: 30%; margin: 5px; padding: 3px" id="saveChanges">Zapisz zmiany</button>
        </div>
        <div class="flex-max scrollable" id="style-switcher">
            <textarea spellcheck="false" style="width: 32px; text-align: center" id="line-counter" readonly></textarea>
            <textarea spellcheck="false" id="text-contents">{{contents}}</textarea>
        </div>
    </div>

    <dialog id="new-file-name">
        <form action="/newfilename" method="post" id="new">
            <p>nowa nazwa pliku (pamiętaj o formacie):</p>
            <input type="text" name="name" pattern='^[^<>:&#147\/\\|?*\x00-\x1F]+[^ .\\\/&#147]$' value="{{currentFile}}" required>
            <div>
                <button type="submit">OK</button>
                <button id="cancel3" type="cancel">cancel</button>
            </div>
        </form>
    </dialog>
