<div class="body">
    <div class="left">
        <button>filters</button>
    </div>
    <div class="right" style="padding: 0;">
        <p style="color: white">{{path}}</p>
        <div id="main-image-div" style="background-image: url('{{path}}');"></div>
        <img src="../asdasdasd.png" style="width: 100px">
    </div>