@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
    transition: .3s;
}
body {height: 100%}
.top {
    height: 100px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.body {
    display: flex;
}
.left {
    width: 20%;
    height: 84.6vh;
    padding: 20px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
}
.right {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
button {
    border: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 25px 10px;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(0, 89, 255) 100%);
}
.file,.folder {
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
    margin: 0 0 20px 20px;
    border-radius: 5px;
    background: linear-gradient(0deg, #022441 35%, #0077B6 100%);
}
.file:hover,.folder:hover, button:hover {
    filter: brightness(110%);
}
.file p, .folder p {
    color: white;
    font-size: 30px;
    padding-right: 20px;
}
.folder {
    background: linear-gradient(0deg, #03045E 0%, rgba(9,9,121,1) 35%, rgb(0, 89, 255) 100%);
}
dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 300px;
    height: 200px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.247);
}
dialog div {
    width: max-content;
    position: relative;
    top: 90px;
    left: 152px;
}
dialog div button {
    margin: 0;
    padding: 10px 20px;
}
p#dialogtext {
    margin: 30px 0 0 30px;
}
input[type="text"] {
    margin-left: 30px;
    width: 163px;
    height: 25px;
    font-size: 21px;
    border: 0;
    border-bottom: 1px solid black;
}
.file button, .folder button {
    margin: 20px 5px 5px 0;
    width: min-content;
    height: 10px;
    color: white;
    padding: 0;
    align-self: flex-end;
    background: black;
    cursor: pointer;
}
.file h1, .folder h1 {
    mix-blend-mode: lighten;
}
#files, #folders {display:flex;flex-wrap:wrap}
input[type="file"] {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px 5px 0 0;
}